.landing-btn button {
  width: 383px;
  height: 80.35px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 20px;
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 43px;
  text-align: center;
  color: white;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.landing-btn.mobile button {
  font-size: 0.6875rem;
  width: 143px;
  height: 30px;
  line-height: 0px;
}

.landing-btn > button > a {
  text-decoration: none;
  color: white;
}
